* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color--main--: #22419a;
    --color--hover--: #FFF201;
    --color--white--: #fff;
}
#footer {
    margin: 20px 0;
    width: 100%;
    height: 600px;
    max-height: auto;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;

}
#footer .footer{
    display: flex;
    margin-top: -60px;
    border-bottom: 2px solid ;
}
.img__footer--header{
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
}
.img__footer--header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer .footer__text--header{
    font-size: 18px;
}
.footer__col1 {
    flex: 1;
    margin-right: 20px;
}
.footer .footer__text--container{
    list-style: none;
}
.footer__text--container li{
    line-height: 20px;
    font-size: 14px;
    opacity: 0.8;
}
.logo__thongbao{
    width: 150px;
    height: 40px;
    object-fit: cover;
}
.footer__col2 {
    flex: 3;
    margin-left: 50px;
    margin-right: -30px;

}
.footer__col--container{
    display: flex;
    padding-bottom: 20px;
    border-bottom: 2px solid ;

}
#footer .footer__list {
    flex: 1;
    margin-left: 10px;
}

#footer .text__header--list {
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 20px;

}

.text__list--footer {
    margin-top: 20px;

}

dl {
    list-style-type: none;
    line-height: 30px;
    font-size: 18px;
    text-transform: capitalize;
}
.text__list--footer a{
    text-decoration: none;
    color: #000;
}

dt:before {
    font-size: 13px;
    content: "\25B6";
    /* Unicode của hình tam giác mũi tên phải */
    margin-right: 5px;
}
.text__list--footer dt:hover a{
    color: var(--color--main--);
    text-decoration:underline;
}
.footer__col--bottom{
    margin-top: 20px;
    margin-bottom: 30px;
}
.footer__col--bottom .footer__from{
    display: flex;
    margin-top: 20px;
}
.footer__from .input__from{
    width: 40%;
    height: 35px;
    font-size: 20px;
    border: none;
    outline: none;
    margin: 0 10px;
    padding-left: 10px;
}
.footer__from .send{
    width: 20%;
    font-size: 20px;
    font-weight: 500;
    color: var(--color--hover--);
    background-color: var(--color--main--);
    border: none;
    cursor: pointer;
}
.footer__img--container{display: flex;}